<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>FinNS</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Site Metas -->
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="shortcut icon" href="/Images/Other/Logo.jpg" type="image/x-icon">

    <title> FPT Indoor Positioning System</title>

    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" href="/assets2/css/bootstrap.css" />

    <!-- fonts style -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:400,600,700&display=swap" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Custom styles for this template -->
    <link href="/assets2/css/style.css" rel="stylesheet" />
    <!-- responsive style -->
    <link href="/assets2/css/responsive.css" rel="stylesheet" />
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
<script src="/assets2/js/jquery-3.4.1.min.js"></script>
<script src="/assets2/js/bootstrap.js"></script>
<script src="/assets2/js/custom.js"></script>
</html>
