@page
@model AR_Navigation.Pages.AR_App.DomModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FPT Indoor Navigation</title>
    <link rel="shortcut icon" href="/Images/Other/Logo.jpg">
    <!-- Bao gồm Bootstrap CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <!-- CSS tùy chỉnh -->
    <link rel="stylesheet" href="/css/Home.css">
</head>

<body>
    <header>
        <div class="container">
            <div class="logo">
                <img src="/Images/Other/logo.jpg" alt="">
            </div>
            <div class="title">
                <h1>FPT Indoor Navigation</h1>
            </div>
        </div>
    </header>
    <div class="container content">
        <div class="row">
            <!-- Cột 1 -->
            <div class="col-md-6 col-6">
                <!-- Card 1 -->
                <div class="card">
                    <button class="btn btn-primary card-btn" onclick="window.location.href = 'department.html';">
                        <div class="card-body">
                            Dom A
                        </div>
                    </button>
                </div>
                <!-- Card 2 -->
                <div class="card">
                    <button class="btn btn-primary card-btn">
                        <div class="card-body">
                            Dom C
                        </div>
                    </button>
                </div>
                <!-- Card 3 -->
                <div class="card">
                    <button class="btn btn-primary card-btn">
                        <div class="card-body">
                            Dom E
                        </div>
                    </button>
                </div>
            </div>
            <!-- Cột 2 -->
            <div class="col-md-6 col-6">
                <!-- Card 4 -->
                <div class="card">
                    <button class="btn btn-primary card-btn">
                        <div class="card-body">
                            Dom B
                        </div>
                    </button>
                </div>
                <!-- Card 5 -->
                <div class="card">
                    <button class="btn btn-primary card-btn">
                        <div class="card-body">
                            Dom D
                        </div>
                    </button>
                </div>
                <!-- Card 6 -->
                <div class="card">
                    <button class="btn btn-primary card-btn">
                        <div class="card-body">
                            Dom
                        </div>
                    </button>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
